<div class="container">
        <a href="/dashboard" class="back-arrow1"><i class="fas fa-arrow-left"></i></a>
        <div class="card">
            <div class="card-header">
                <h1>All Triages</h1>
                <form id="filter-form" action="/triage/all" method="GET">
                    <label for="year">Year:</label>
                    <select name="year" id="year">
                        <% for (let y = 2024; y <= new Date().getFullYear(); y++) { %>
                            <option value="<%= y %>" <%= y === parseInt(selectedYear) ? 'selected' : '' %>><%= y %></option>
                        <% } %>
                    </select>
                    <label for="month">Month:</label>
                    <select name="month" id="month">
                        <% for (let m = 1; m <= 12; m++) { %>
                            <option value="<%= m %>" <%= m === parseInt(selectedMonth) ? 'selected' : '' %>><%= m %></option>
                        <% } %>
                    </select>
                    <button  type="submit" class="btn btn-primary">Apply</button>
                </form>
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Type</th>
                            <th>Car Nb</th>
                            <th>From</th>
                            <th>To</th>
                            <th>Patient Name</th>
                            <th>MOI</th>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody id="triage-table-body">
                        <% if(triages.length > 0) { %>
                            <% triages.forEach(triage => { %>
                                <tr>
                                    <td><%= triage.case_type %></td>
                                    <td><%= triage.car_nb %></td>
                                    <td><%= triage.from %></td>
                                    <td><%= triage.to %></td>
                                    <td><%= triage.patient_name %></td>
                                    <td>
                                        <% if(triage.moi == null) { %>
                                            <li>None</li>
                                        <% } else { %>
                                            <% triage.moi.forEach(moi => { %>
                                                <li><%= moi.name %></li>
                                            <% }) %>
                                        <% } %>
                                    </td>
                                    <td style="width: 150px"><%= moment(triage.createdAt).format('DD-MM-YYYY') %></td>
                                    <td><%= triage.time %></td>
                                    <td>
                                        <a href="/triage/edit/<%= triage._id %>" class="btn btn-primary">Edit</a>
                                        <a href="/triage/generate-pdf/<%= triage._id %>" class="btn btn-primary">View</a>
                                    </td>
                                </tr>
                            <% }) %>
                        <% } else { %>
                            <tr>
                                <td colspan="9">No triages</td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
                <% if (triages.length > 0 && triages.length === 5) { %>
                    <button style="margin: 10px;" id="show-more-btn" class="btn btn-primary">Show More</button>
                <% } %>
            </div>
        </div>
    </div>

    <input type="hidden" id="current-page" value="1">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script>
        document.getElementById('show-more-btn').addEventListener('click', async function() {
            const year = document.getElementById('year').value;
            const month = document.getElementById('month').value;
            const currentPage = parseInt(document.getElementById('current-page').value) + 1;

            try {
                const response = await fetch(`/triage/all?year=${year}&month=${month}&page=${currentPage}`, {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json',
                        'Accept': 'application/json'
                    }
                });
                const data = await response.json();

                if (data.triages.length > 0) {
                    const tableBody = document.getElementById('triage-table-body');
                    data.triages.forEach(triage => {
                        const row = document.createElement('tr');
                        row.innerHTML = `
                            <td>${triage.case_type}</td>
                            <td>${triage.car_nb}</td>
                            <td>${triage.from}</td>
                            <td>${triage.to}</td>
                            <td>${triage.patient_name}</td>
                            <td>${triage.moi ? triage.moi.map(m => `<li>${m.name}</li>`).join('') : 'None'}</td>
                            <td style="width: 150px">${moment(triage.createdAt).format('DD-MM-YYYY')}</td>
                            <td>${triage.time}</td>
                            <td>
                                <a href="/triage/edit/${triage._id}" class="btn btn-primary">Edit</a>
                                <a href="/triage/generate-pdf/${triage._id}" class="btn btn-primary">View</a>
                            </td>
                        `;
                        tableBody.appendChild(row);
                    });

                    document.getElementById('current-page').value = currentPage;
                }

                if (data.triages.length < 5) {
                    document.getElementById('show-more-btn').style.display = 'none';
                }
            } catch (error) {
                console.error('Error fetching more triages:', error);
            }
        });
    </script>
