<div class="container">
    <div class="card triage" style="padding: 20px;">
        <h1>Triage</h1>
        <br>
        <br>
        <form action="/triage/emergency?car=<%=car%>" method="POST" class="triageForm">
            <!-- Time -->
            <div class="triage-form-group">
                <label for="time">:الوقت </label>
                <div class="field">
                    <input type="time" id="time" name="time" required>
                </div>
            </div>
            <!-- Date -->
            <div class="triage-form-group">
                <label for="date">:التاريخ</label>
                <div class="field">
                    <input type="date" id="date" name="date" required>
                </div>
            </div>

            <!-- from -->



            <!-- Driver -->
            <div class="triage-form-group">
                <label for="driver">:اسم الشوفير</label>
                <div class="field">
                    <select name="driver" id="driver" required>
                        <% drivers.forEach(function(driver){ %>
                            <option value="<%= driver._id %>"><%= driver.username %></option>
                        <% }) %>
                    </select>
                </div>
            </div>
            <!-- Paramedics -->
            <div class="triage-form-group">
                <label for="rescuer">:اسم المسعفون</label>
                <select id="rescuer" class="rescuer-select" name="paramedics" multiple required>
                    <% paramedics.forEach(function(paramedic) { %>
                        <option value="<%= paramedic.id %>"><%= paramedic.username %></option>
                    <% }) %>
                </select>
            </div>
            <!-- Patient name -->
            <!-- MOI if found -->
            <%-include('partials/commun/moi') %>
            <!-- Aproval number -->
            <%-include('partials/commun/footer') %>
        </form>
    </div>
</div>
<script src="/js/usage.js"></script>
<script src="/js/toggleOtherInput.js"></script>