<div class="container">
    <div class="card triage" style="padding: 20px;">
        <h1>Triage</h1>
        <br>
        <br>
        <form id="triageForm"  action="/triage/emergency?car=<%=car%>" method="POST" class="triageForm">
            <div class="triage-form-group">
                <label for="time">:الوقت </label>
                <div class="field">
                    <input type="time" id="time" name="time" required>
                </div>
            </div>
            <!-- Date -->
            <div class="triage-form-group">
                <label for="date">:التاريخ</label>
                <div class="field">
                    <input type="date" id="date" name="date" required>
                </div>
            </div>
            <div class="triage-form-group">
                <input type="hidden" value="<%=type%>" name="type">
                <label for="from">المكان:</label>
                <div class="field">
                    <select name="from" id="from" required>
                        <option value="في المركز">داخل المركز</option>
                    </select>
                </div>
            </div>

            <div class="triage-form-group">
                <label for="rescuer">:اسم المسعفون</label>
                <select id="rescuer" class="rescuer-select" name="paramedics" multiple>
                    <% paramedics.forEach(function(paramedic) { %>
                        <option value="<%= paramedic.id %>"><%= paramedic.fullNameInArabic %></option>
                    <% }) %>
                </select>
            </div>

            <div class="triage-form-group">
                <label for="patient_name">:اسم المريض الثلاثي</label>
                <div class="field">
                    <input type="text" id="patient_name" name="patient_name" required>
                </div>
            </div>
            <%-include('partials/commun/avpu') %>
            <%-include('partials/commun/moi') %>
            <div class="triage-form-group">
                <label for="chiefComplaint">DCAP_BTLS??</label>
                <select name="isTrauma" id="isTrauma">
                    <option value="true">Yes</option>
                    <option selected value="false">No</option>
                </select>
            </div>
                <div class="dcap-btls" id="dcap-btls" style="display: none;">
                    <div class="dcap-btls-letter">
                        <input type="checkbox" id="d" name="dcap-btls" value="D">
                        <label for="d">Deformation - تغيرالشكل </label>
                    </div>
                    <div class="dcap-btls-letter">
                        <input type="checkbox" id="c" name="dcap-btls" value="C">
                        <label for="c">Contusion - ورم</label>
                    </div>
                    <div class="dcap-btls-letter">
                        <input type="checkbox" id="a" name="dcap-btls" value="A">
                        <label for="a">Abration جلف</label>
                    </div>
                    <div class="dcap-btls-letter">
                        <input type="checkbox" id="p" name="dcap-btls" value="P">
                        <label for="p">Pentration - ثقب</label>
                    </div>
                    <div class="dcap-btls-letter">
                        <input type="checkbox" id="b" name="dcap-btls" value="B">
                        <label for="b">Burn - حرق</label>
                    </div>
                    <div class="dcap-btls-letter">
                        <input type="checkbox" id="t" name="dcap-btls" value="T">
                        <label for="t">Tendreness</label>
                    </div>
                    <div class="dcap-btls-letter">
                        <input type="checkbox" id="l" name="dcap-btls" value="L">
                        <label for="l">Laceration - جرح</label>
                    </div>
                    <div class="dcap-btls-letter">
                        <input type="checkbox" id="s" name="dcap-btls" value="S">
                        <label for="s">Swelling - احتقان </label>
                    </div>
                </div>
            <%-include('partials/commun/vitals') %>
            <div class="triage-form-group">
                <label for="bloodglucose">مستوى السكر بالدم:</label>
                <div class="field">
                    <input type="text" id="bloodglucose" name="bloodglucoseLevel" placeholder="مستوى السكر بالدم">
                </div>
            </div>
            <%-include('partials/commun/histories') %>
            <%-include('partials/commun/usage') %>
            <%-include('partials/commun/footer') %>
            <input type="hidden" name="dcap_btls" id="dcap_btls">
        </form>
    </div>
</div>
<script src="/js/usage.js"></script>
<script src="/js/dcap_btls.js"></script>