<div class="table-responsive">
    <h1>Logged In Devices</h1>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Device Info</th>
                <th>IP & MAC Address</th>
                <th>Login Time</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <% devices.forEach(device => { %>
                <tr>
                    <td><%= device.deviceInfo %></td>
                        <td><ul>
                            <li><%= device.ipAddress %></li>
                            <%= device.macAddress %>
                        </ul></td>
                    <td><%= moment(device.lastLogin).format('MM-DD-YYYY, h:mm a') %></td>
                    <td><%= device.isActive ? 'Active' : 'Inactive' %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>