<div class="container">
    <div class="card triage" style="padding: 20px;">
        <h1>:حالة مرضية</h1>
        <br>
        <br>
        <form id="triageForm"  action="/triage/emergency?car=<%=car%>" method="POST" class="triageForm">
            <div class="triage-form-group">
                <label for="date">تاريخ الانطلاق:</label>
                <div class="field">
                    <input type="date" id="date" name="date" required>
                </div>
            </div>
            <div class="triage-form-group">
                <label for="time">:وقت الانطلاق</label>
                <div class="field">
                    <input type="time" id="time" name="time" required>
                </div>
            </div>
            <div class="triage-form-group">
                <input type="hidden" value="<%=type%>" name="type">
                <label for="from">:من</label>
                <div class="field">
                    <select name="from" id="from" required onchange="toggleOtherInput('from')">
                        <% locations.forEach(function(loc){ %>
                            <option value="<%= loc %>"><%= loc %></option>
                        <% }) %>
                        <option value="Other">Other</option>
                    </select>
                    <input type="text" class="otherInput" id="fromOther" name="fromOther" style="display: none;" placeholder="Specify 'From'">
                </div>
            </div>

            <div class="triage-form-group">
                <label for="to">:الى</label>
                <div class="field">
                    <select name="to" id="to" required onchange="toggleOtherInput('to')">
                        <% locations.forEach(function(loc){ %>
                            <option value="<%= loc %>"><%= loc %></option>
                        <% }) %>
                        <option value="Other">Other</option>
                    </select>
                    <input type="text" class="otherInput" id="toOther" name="toOther" style="display: none;" placeholder="Specify 'To'">
                </div>
            </div>

            <div class="triage-form-group">
            
                <label for="driver">:اسم الشوفير</label>
                <div class="field">
                    <select name="driver" id="driver" required>
                        <% drivers.forEach(function(driver){ %>
                            <option value="<%= driver._id %>"><%= driver.fullNameInArabic %></option>
                        <% }) %>
                    </select>
                </div>
            </div>

            <div class="triage-form-group">
                <label for="rescuer">:اسم المسعفون</label>
                <select id="rescuer" class="rescuer-select" name="paramedics" multiple required>
                    <% paramedics.forEach(function(paramedic) { %>
                        <option value="<%= paramedic.id %>"><%= paramedic.fullNameInArabic %></option>
                    <% }) %>
                </select>
            </div>

            <div class="triage-form-group">
                <label for="patient_name">:اسم المريض</label>
                <div class="field">
                    <input type="text" id="patient_name" name="patient_name" required>
                </div>
            </div>


            <div class="section-title">
                <h1> -- العلامات الحياتية -- </h1>
            </div>
            <div class="triage-form-group">
                <label for="blood_pressure">:ضغط الدم</label>
                <div class="field">
                    <input type="text" id="blood_pressure" name="preassure" placeholder="Ex: 12/8" >
                </div>
            </div>

            <div class="triage-form-group">
                <label for="heart_rate">:النبض</label>
                <div class="field">
                    <input type="text" id="heart_rate" name="heartRate" placeholder="النبض">
                </div>
            </div>

            <div class="triage-form-group">
                <label for="spo2">:SpO2</label>
                <div class="field">
                    <input type="text" id="spo2" name="spo2" placeholder="ال SPO2" >
                </div>
            </div>
            <div class="triage-form-group">
                <label for="temperature">:درجة الحرارة</label>
                <div class="field">
                    <input type="text" id="temperature" name="temperature" placeholder="درجة الحرارة" >
                </div>
            </div>
            <div class="section-title">
                <h1> --------------------- </h1>
            </div>

            <div class="triage-form-group">
                <label for="medical-history">:أمراض مزمنة</label>
                <select name="medicalHistory" id="medical-history" class="moi-select" multiple>
                    <% medicalHistories.forEach(function(medicalHistory){ %>
                        <option value="<%= medicalHistory.id %>"><%= medicalHistory.name %></option>
                    <% }) %>
                </select>
            </div>

            <div class="triage-form-group">
                <label for="surgical-history">:عمليات سابقة</label>
                <select name="surgicalHistory" id="surgical-history" class="moi-select" multiple>
                    <% surgicalHistories.forEach(function(medicalHistory){ %>
                        <option value="<%= medicalHistory.id %>"><%= medicalHistory.name %></option>
                    <% }) %>
                </select>
            </div>


            <div class="section-title"><label for="notes">:ملاحظات</label></div>
            <div class="triage-form-group">
                <div class="field">
                    <textarea name="notes" id="notes" cols="30" rows="10"></textarea>
                </div>
            </div>

            <div class="triage-form-group">
                <label for="ap_nb">:رقم الموافقة</label>
                <div class="field">
                    <input type="number" min="0" id="ap_nb" name="approval_nb">
                </div>
            </div>
            <div class="triage-form-group">
                <div class="field">
                    <button id="submitBtn" class="btn btn-primary" type="submit">Done</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    const blood_pressure = document.getElementById('blood_pressure');
    const heart_rate = document.getElementById('heart_rate');
    const spo2 = document.getElementById('spo2');
    const temperature = document.getElementById('temperature');

// Validate blood pressure format and value
blood_pressure.addEventListener('input', () => {
    const value = blood_pressure.value;

    // Check if the format matches "a/b"
    if (!/^\d+\/\d+$/.test(value)) {
        blood_pressure.setCustomValidity( 'الرجاء ادخال الضغط بالصيغة الصحيحة (مثال: 12/8)');
    } else {
        const [systolic, diastolic] = value.split('/').map(Number);

        // Validate that systolic <= 200 and diastolic <= 160
        if (systolic > 220 || diastolic > 160) {
            blood_pressure.setCustomValidity('ضغط الدم لا يجب ان يتجاوز 220/160');
        } else {
            // Clear any custom validity message if all conditions are met
            blood_pressure.setCustomValidity('');
        }
    }

    // Show validation message (if any)
    blood_pressure.reportValidity();
});


    heart_rate.addEventListener('input', () => {
        if (parseInt(heart_rate.value) > 200) {
            heart_rate.setCustomValidity('النبض لا يجب ان يتجاوز 200');
        } else {
            heart_rate.setCustomValidity('');
        }

        heart_rate.reportValidity();
    });

    spo2.addEventListener('input', () => {
        if (parseInt(spo2.value) > 100) {
            spo2.setCustomValidity('ال ٍSPO2 لا يجب ان يتجاوز 100');
        } else {
            spo2.setCustomValidity('');
        }

        spo2.reportValidity();
    });

    temperature.addEventListener('input', () => {
        if (parseInt(temperature.value) > 44) {
            temperature.setCustomValidity('درجة الحرارة لا يجب ان تتجاوز 44');
        } else {
            temperature.setCustomValidity('');
        }

        temperature.reportValidity();
    });
    


</script>
<script src="/js/usage.js"></script>
<script src="/js/toggleOtherInput.js"></script>
