<!-- Back arrow -->
<div>
    <a href="/users" class="back-arrow1"><i class="fa-solid fa-arrow-left"></i></a>
<section class="profile-f">

    <!-- Profile card -->
    <div class="profile-card">
        
        <div class="profile-img" id="prof-img">
                
                <%if(user.profileImage){ %>
                    <img src="<%= user.profileImage %>" alt="<%= user.username %>">
                <%}else{ %>
                    <i class="fa-solid fa-user"></i>
                <% } %>
        </div>
        <div class="profile-info">
            <div class="profile-info-item">
                <i class="fa-solid fa-envelope"></i>
                <p class="username"><%=user.username%></p>
            </div>
            <!-- item -->
            <div class="profile-info-item">
                <i class="fa-solid fa-user"></i>
                <p class="role"><%=user.role.name%></p>
            </div>
            <!-- Phone -->
            <div class="profile-info-item">
                <i class="fa-solid fa-phone"></i>
                <p class="phone"><%=user.phone%></p>
            </div>
            <!-- Shift Days -->
            <div class="profile-info-item">
                <i class="fa-solid fa-calendar"></i>
                <p class="shiftDays">
                    <%=user.shiftDays.join(',') %>
                </p>
            </div>
            <!-- Blood type -->
            
            <div class="profile-info-item">
                    <i class="fa-solid fa-heart"></i>
                    <p class="bloodType"><%=user.bloodType%></p>
            </div>

            <div class="profile-info-item">
                <i class="fa-solid fa-id-card"></i>
                <p class="bloodType"><%=totalCases%> cases</p>
            </div>

            <div class="profile-info-item">
                <i class="fa-solid fa-calendar-days"></i>
                <p class="bloodType">
                    <%=user.dob ? moment(user.dob).format('DD-MM-YYYY') : 'N/A'%>
                </p>
            </div>

            <div class="profile-info-item">
                <i style="font-size: 23px;" class="fa-solid fa-person"></i>
                <p class="bloodType"><%=user.badleSize == '' ? 'N/A' : user.badleSize %> </p>
            </div>

            <div class="profile-info-item" style=" margin-right: 5px;">
                <i class="fa-solid fa-shirt"></i>
                <p class="bloodType"><%=user.kanzeSize == '' ? 'N/A' : user.kanzeSize%> </p>
            </div>
            
            <!-- ranger size -->
            <div class="profile-info-item" style=" margin-right: 5px;">
                <i class="fa-solid fa-shoe-prints"></i>
                
                <p class="bloodType"><%=user.rangerSize == 0 ? 'N/A' : user.rangerSize%> </p>
            </div>
            <a class="btn btn-primary" href="/users/triages/<%=user._id%>">View Triages</a>

            
        
        </div>

        
    </div>
</section>
</div>