<!-- views/triage/emergency.ejs -->
<div id="content1">
    <div class="tables-container">
        <div class="common-fields-table">
            <h2>Personal Info:</h2>
            <table>
                <tr>
                    <th>Type</th>
                    <td>حالة طارئة</td>
                </tr>
                <tr>
                    <th>Time</th>
                    <td><%= triage.createdAt ? moment(triage.createdAt).format('DD-MM-YYYY') : "N/A" %> - <%= triage.time || "N/A" %></td>
                </tr>
                <tr>
                    <th>Car Number</th>
                    <td><%= triage.car_nb !== null ? triage.car_nb : "N/A" %></td>
                </tr>
                <tr>
                    <th>From</th>
                    <td><%= triage.from || "N/A" %></td>
                </tr>
                <tr>
                    <th>To</th>
                    <td><%= triage.to || "N/A" %></td>
                </tr>
                <tr>
                    <th>Driver Name</th>
                    <td><%= triage.driver ? triage.driver.username : "N/A" %></td>
                </tr>
                <tr>
                    <th>Paramedics</th>
                    <td>
                        <ul>
                            <% if (triage.paramedics && triage.paramedics.length) { %>
                                <% triage.paramedics.forEach(paramedic => { %>
                                    <li><%= paramedic.username || "N/A" %></li>
                                <% }); %>
                            <% } else { %>
                                <li>N/A</li>
                            <% } %>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th>Patient Name</th>
                    <td id="name"><%= triage.patient_name || "N/A" %></td>
                </tr>
            </table>
        </div>
        <h2>Medical Details:</h2>
        <div class="common-fields-table">
            <table>
                <tr>
                    <th>AVPU</th>
                    <td>
                        <% if (triage.avpu) { %>
                            <% if (triage.avpu === "Alert") { %>
                                <span style="color: green;"><%= triage.avpu %> -> PPTE -> <%= triage.ppte || "N/A" %></span>
                            <% } else if (triage.avpu === "Verbal") { %>
                                <span style="color: orange;"><%= triage.avpu %></span>
                            <% } else if (triage.avpu === "Pain") { %>
                                <span style="color: red;"><%= triage.avpu %></span>
                            <% } else if (triage.avpu === "Unresponsive") { %>
                                <span style="color: black;"><%= triage.avpu %></span>
                            <% } else { %>
                                <%= triage.avpu %>
                            <% } %>
                        <% } else { %>
                            N/A
                        <% } %>
                    </td>
                </tr>
                <tr>
                    <th>MOI</th>
                    <td>
                        <ul>
                            <% if (triage.moi && triage.moi.length) { %>
                                <% triage.moi.forEach(moi => { %>
                                    <li><%= moi.name || "N/A" %></li>
                                <% }); %>
                            <% } else { %>
                                <li>N/A</li>
                            <% } %>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th>Vitals</th>
                    <td>
                        <ul>
                            <li>Heart Rate: <%= triage.vitals.heartRate !== null ? triage.vitals.heartRate : "N/A" %></li>
                            <li>Blood Pressure: <%= triage.vitals.bloodPressure || "N/A" %></li>
                            <li>SPO2: <%= triage.vitals.spo2 !== null ? triage.vitals.spo2 : "N/A" %></li>
                            <li>Temperature: <%= triage.vitals.temperature !== null ? triage.vitals.temperature : "N/A" %></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th>Medical History</th>
                    <td>
                        <ul>
                            <% if (triage.medicalHistory && triage.medicalHistory.length) { %>
                                <% triage.medicalHistory.forEach(medicalHistory => { %>
                                    <li><%= medicalHistory.name || "N/A" %></li>
                                <% }); %>
                            <% } else { %>
                                <li>N/A</li>
                            <% } %>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th>Surgical History</th>
                    <td>
                        <ul>
                            <% if (triage.surgicalHistory && triage.surgicalHistory.length) { %>
                                <% triage.surgicalHistory.forEach(surgicalHistory => { %>
                                    <li><%= surgicalHistory.name || "N/A" %></li>
                                <% }); %>
                            <% } else { %>
                                <li>N/A</li>
                            <% } %>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th>Usage</th>
                    <td>
                        <ul>
                            <% if (triage.usage && triage.usage.length) { %>
                                <% triage.usage.forEach(usage => { %>
                                    <li><%= usage._id ? usage._id.name : "N/A" %> - Quantity: <%= usage.quantity || "N/A" %></li>
                                <% }); %>
                            <% } else { %>
                                <li>N/A</li>
                            <% } %>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th>Notes</th>
                    <td><%= triage.notes || "N/A" %></td>
                </tr>
                <tr>
                    <th>Approval Number:</th>
                    <td><%= triage.approval_nb !== null ? triage.approval_nb : "N/A" %></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="btn">
        <button class="btn btn-primary" onclick="downloadPdf(`<%= triage.patient_name || 'N/A' %>`, `<%= triage.createdAt ? moment(triage.createdAt).format('DD-MM-YYYY') : 'N/A' %>`)">Download PDF</button>
    </div>
</div>

<script>
    function downloadPdf(name, date) {
        const content = document.getElementById('content1');
        const sanitizedPatientName = name.replace(/\s/g, '_');
        const options = {
            margin: [0, 0, 0, 0],
            filename: sanitizedPatientName,
            image: { type: 'jpeg', quality: 0.98 },
            html2canvas: { scale: 2 },
            jsPDF: { unit: 'in', format: [8.5, 14], orientation: 'portrait' }
        };
        
        html2pdf()
            .from(content).set(options)
            .toPdf()
            .get('pdf')
            .then(pdf => {
                pdf.save(`${sanitizedPatientName}_${date}.pdf`);
                window.location.href = '/dashboard';
            });
    }
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
