<!-- views/triage/emergency.ejs -->

<!-- Html2pdf -->
<div id="content1">
    <div class="tables-container">
        <div>
            <center>
                <h1>Patient Details:</h1>
            </center>
            <!-- Common Fields Table -->
            <table>

                <tr>
                    <th>Type</th>
                    <td>حالة داخل المركز</td>
                </tr>
                <tr>
                    <th>Time</th>
                    <td>
                        <%= triage.createdAt ? moment(triage.date).format('DD-MM-YYYY') : 'No Date' %> - 
                        <%= triage.time || 'No Time' %>
                    </td>
                </tr>
                <tr>
                    <th>Car Number</th>
                    <td><%= triage.car_nb || 'No Car Number' %></td>
                </tr>
                <tr>
                    <th>From</th>
                    <td><%= triage.from || 'No Location' %></td>
                </tr>
                <tr>
                    <th>Paramedics</th>
                    <td>
                        <% if (triage.paramedics && triage.paramedics.length) { %>
                            <ul>
                                <% triage.paramedics.forEach(paramedic => { %>
                                    <li><%= paramedic.fullNameInArabic || 'No Name' %></li>
                                <% }); %>
                            </ul>
                        <% } else { %>
                            <span>No Paramedics</span>
                        <% } %>
                    </td>
                </tr>
                <tr>
                    <th>Patient Name</th>
                    <td id="name"><%= triage.patient_name || 'No Patient Name' %></td>
                </tr>
            </table>
        </div>

        <div class="common-fields-table">
            <h1>Medical Details:</h1>
            <!-- Emergency Table -->
            <table>
                <tr>
                    <th>AVPU</th>
                    <td><%= triage.avpu || 'No AVPU' %></td>
                </tr>
                <tr>
                    <th>MOI</th>
                    <td>
                        <% if (triage.moi && triage.moi.length) { %>
                            <ul>
                                <% triage.moi.forEach(moi => { %>
                                    <li><%= moi.name || 'No MOI Name' %></li>
                                <% }); %>
                            </ul>
                        <% } else { %>
                            <span>No MOI</span>
                        <% } %>
                    </td>
                </tr>
                <tr>
                    <th>Vitals</th>
                    <td>
                        <ul>
                            <li>Heart Rate: <%= triage.vitals?.heartRate || 'No Heart Rate' %></li>
                            <li>Blood Pressure: <%= triage.vitals?.bloodPressure || 'No Blood Pressure' %></li>
                            <li>SPO2: <%= triage.vitals?.spo2 || 'No SPO2' %></li>
                            <li>Temperature: <%= triage.vitals?.temperature || 'No Temperature' %></li>

                        </ul>
                    </td>

                </tr>
                <tr>
                    <th>Blood Glucose Level</th>
                    <td><%= triage.bloodglucoseLevel || 'No Blood Glucose' %></td>
                </tr>
                <tr>
                    <th>Medical History</th>
                    <td>
                        <% if (triage.medicalHistory && triage.medicalHistory.length) { %>
                            <ul>
                                <% triage.medicalHistory.forEach(medicalHistory => { %>
                                    <li><%= medicalHistory.name || 'No Medical History' %></li>
                                <% }); %>
                            </ul>
                        <% } else { %>
                            <span>No Medical History</span>
                        <% } %>
                    </td>
                </tr>
                <tr>
                    <th>Surgical History</th>
                    <td>
                        <% if (triage.surgicalHistory && triage.surgicalHistory.length) { %>
                            <ul>
                                <% triage.surgicalHistory.forEach(surgicalHistory => { %>
                                    <li><%= surgicalHistory.name || 'No Surgical History' %></li>
                                <% }); %>
                            </ul>
                        <% } else { %>
                            <span>No Surgical History</span>
                        <% } %>
                    </td>
                </tr>
                <tr>
                    <th>Usage</th>
                    <td>
                        <% if (triage.usage && triage.usage.length) { %>
                            <ul>
                                <% triage.usage.forEach(usage => { %>
                                    <li><%= usage._id.name || 'No Usage Name' %> - Quantity: <%= usage.quantity || 'No Quantity' %></li>
                                <% }); %>
                            </ul>
                        <% } else { %>
                            <span>No Usage</span>
                        <% } %>
                    </td>
                </tr>
                <tr>
                    <th>Notes</th>
                    <td><%= triage.notes || 'No Notes' %></td>
                </tr>
                <tr>
                    <th>Approval Number:</th>
                    <td><%= triage.approval_nb || 'No Approval Number' %></td>
                </tr>
            </table>
        </div>
    </div>
    <button id="download" class="btn btn-primary" onclick="downloadPdf(`<%= triage.patient_name || 'Unknown' %>`, `<%= moment(triage.date).format('DD-MM-YYYY') || 'No Date' %>`)">Download PDF</button>
</div>

<script>
    function downloadPdf(name, date) {
         const content = document.getElementById('content1');
         const downloadBtn = document.getElementById('download');
         downloadBtn.style.display = 'none';
         const sanitizedPatientName = name.replace(/\s/g, '_');
         
         const options = {
             margin: [0.5, 0.5, 0.5, 0.5], // Add margin to the PDF
             filename: `${sanitizedPatientName}_${date}.pdf`,
             image: { type: 'jpeg', quality: 0.98 },
             html2canvas: { scale: 2, letterRendering: true },
             jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' }
         };
         
         html2pdf()
             .from(content)
             .set(options)
             .toPdf()
             .get('pdf')
             .then(pdf => {
                 pdf.save(`${sanitizedPatientName}_${date}.pdf`);
                 window.location.href = '/dashboard';  // Redirect after download
             });
     }
 </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
